body {
  background-color: rgba(140, 66, 88, 0.751);
  padding-left: 28%;
  padding-top: 2%;
}

h1 {
  color: rgba(153, 229, 39, 0.83);
  font: optional;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  color: rgb(16, 230, 95);
  font: inherit;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

table,
th,
td {
  border: 2px solid rgb(14, 216, 71);
  border-collapse: collapse;
}

.center {
  margin: auto;
  width: 60%;
  border: 6px solid rgb(7, 48, 7);
  padding: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
